$color-text: #aaa;
$color-white: #fff;
$color-black: #000;
$color-dark-text: #222;
$color-green: #7cc576;
$color-green-2: #b0ffaa;
$color-dark-grey: #222222;

$font-serif: 'Noto Serif', Times;
$font-sans-serif:  'Lato', Arial, Helvetica;