.header{

    &__top{
        font-family: $font-sans-serif;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: $bp-small){
            flex-direction: column; 
            margin-top: 2rem; 
        }

    }
    &__logo-block{

    }
    &__logo{
        width: 20rem;
    }
    &__hero{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}