.benefits{
    display: flex;
    flex-direction: row; 
    margin: 0 auto;

    &__left{ 
        background-image: url(/img/screw.jpg);
        background-size: cover;
        background-position: right; 

        flex: 1 1 30%;
    }

    &__right{
        flex: 1 1 70%;
        background-image: url(/img/services.jpg);
        background-size: cover; 
        padding: 11rem; 
    }

    &__list{
        font-family: $font-serif;
        list-style-type: none;
        margin-bottom: 6rem;  
    }

    &__item{
        font-size: 2.2rem; 
        &:not(:last-child){ 
            margin-bottom: 1.6rem;
        }
    }

    &__check{
        font-size: 2.9rem;
        margin-right: 1.5rem;
        font-weight: 100; 
    }
}