.comment{
    display: flex;
    justify-content: space-between;

    &__container{
        
    }
    &__img{
        display: block;
        width: 30rem;
        border-radius: 50%;
    }
    &__box{
        margin-left: 5rem;
        background-color: #f9f9f9;
        padding: 5rem;
        margin: 5rem;

        display: flex;
        flex-direction: column;
    }
    &__text{ 
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
    &__author{
        padding-left: 6rem;
        font-size: 2rem;
        color: $color-green;
    }

    &--reverse{
        flex-direction: row-reverse;
    }
}