.comment{
    display: flex;
    justify-content: space-between;
    position: relative;

    &:first-child{
        flex-direction: row-reverse;
    }

    @media only screen and (max-width: $bp-small){
        flex-direction: column;  
    } 

    &__container{
        display: flex; 
        align-items: center; 
        flex: 1 0 25%;  

        @media only screen and (max-width: $bp-small){
            width: 35%; 
            align-self: center;
        } 

    }
    &__img{
        display: block;
        width: 100%; 
        border-radius: 50%;


    }
    &__box{
        margin-left: 5rem;
        background-color: #f9f9f9;
        padding: 5rem;
        margin: 5rem;

        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $bp-small){
            padding: 3%; 
            margin: 3%;
        }
    }
    &__text{ 
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
    &__author{
        padding-left: 6rem;
        font-size: 2rem;
        color: $color-green; 
    }
}