*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: $color-text; 
   
}


html{
    font-size: 62.5%; // 1rem = 10px ; 10/16 = 62,5%

    @media only screen and (max-width: $bp-larg){
        font-size: 50%;
    } 
     
} 
 
body { 
    box-sizing: border-box;


}
