.section-services{
    padding: 15rem 0;
} 

.section-benefits{
    padding-top: 12rem;
} 

.section-projects{
    padding: 12rem 0;
} 

.projects-container{
    display: flex;
}

.section-values{
    padding: 12rem 0;
    background-color: #f9f9f9;
} 

.section-clients{
    padding: 12rem 0;
}

.contact-CTA{
    background-color: $color-green;
    padding: 12rem 0;
    text-align: center;
}

.section-sub-footer{
    background-color: $color-dark-grey;
    padding: 8rem 0;
}